
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Capybara Terrain Recongnition</title>
        <link rel="stylesheet" href="/static/capybara.css" />
        
        <style>
            @import url('https://fonts.googleapis.com/css?family=Poppins');
            p{
            
                font-size: 25px;
                font-weight: medium;
                font-family:'Poppins', sans-serif;
                letter-spacing: 4px;
            }
        </style>
    </head>
    <body>
        <nav>
            <div class="menu">
                <div class="logo">
                    <img src="/static/cb.png" height="60px" />
                    <a href="#">Terrain Recongnition</a>
                </div>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FeedBack</a></li>
                </ul>
        </nav>
        <div class="img"></div>
        <div class="center">
            <p>{{ab}}</p>
            <div id="weather"></div>
        </div>
        
    </body>
</html>
